[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.*"

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
# LRT = {ref = "master", git = "https://hspreeuw@bitbucket.org/hspreeuw/eoscpfl-lgppp_lrt_2018.git"}
lgppp-lofar-pipeline = {ref = "master", git = "https://github.com/EOSC-LOFAR/LGPPP_LOFAR_pipeline.git"}
jsonfield = "*"
