[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
# python_version = ">3.3"

[dev-packages]

[packages]
couchdb = "*"
django = "*"
djangorestframework = "*"
eoscpfl-lgppp_lrt_2018 = {ref = "master", git = "https://github.com/process-project/lofar-lta-one-click-processing.git"}
# lgppp-lofar-pipeline = {ref = "master", git = "https://github.com/EOSC-LOFAR/LGPPP_LOFAR_pipeline.git"}
jsonfield = "*"
